@page "/fetchdata"
@using Newtonsoft.Json
@using OrcamentoVinil.Models
@using OrcamentoVinil.Util
@using RestSharp

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div>
    <div class="row">
        <div class="col-4">
            <label for="descricao">Descrição:</label>
            <input id="descricao" class="form-control" @bind="novaDescricao" />
        </div>
        <div class="col-4">
            <label for="precoM2">Preço m²:</label>
            <input id="precoM2" class="form-control" @bind="novoPrecoM2" />
        </div>
        <div class="col-4">
            <label for="precoML">Preço ml:</label>
            <input id="precoML" class="form-control" @bind="novoPrecoML" />
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-4">
            <button class="btn btn-primary btn-block" @onclick="AdicionarMaterial">Adicionar Material</button>
        </div>
    </div>
</div>

@if (lstMateriais == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Preço m²</th>
                <th>Preço ml</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Material material in lstMateriais)
            {
                <tr>
                    <td>@material.ID</td>
                    <td>@material.Descricao</td>
                    <td>@material.PrecoM2</td>
                    <td>@material.PrecoML</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Material>? lstMateriais;
    private string novaDescricao;
    private decimal novoPrecoM2;
    private decimal novoPrecoML;

    protected override void OnInitialized()
    {
        BuscarMateriais();
        base.OnInitialized();
    }
    private async void AdicionarMaterial()
    {
        RequestMaterial novoMaterial = new RequestMaterial();

        novoMaterial.Descricao = novaDescricao;
        novoMaterial.PrecoM2 = novoPrecoM2;
        novoMaterial.PrecoML = novoPrecoML;

        string json = JsonConvert.SerializeObject(novoMaterial);

        var client = new RestClient(Constants.URL_BASE);
        var request = new RestRequest("//v1/Materiais", Method.Post);
        request.AddHeader("accept", "*/*");
        request.AddHeader("Content-Type", "application/json");
        request.AddJsonBody(json);

        RestResponse response = await client.ExecuteAsync(request);

        if (response.StatusCode == System.Net.HttpStatusCode.Created)
        {
            novaDescricao = string.Empty;
            novoPrecoM2 = 0;
            novoPrecoML = 0;

            BuscarMateriais();
        }
    }

    private async void BuscarMateriais()
    {
        var client = new RestClient(Constants.URL_BASE);
        var request = new RestRequest("//v1/Materiais", Method.Get);
        request.AddHeader("accept", "*/*");

        RestResponse response = await client.ExecuteAsync(request);

        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            lstMateriais = JsonConvert.DeserializeObject<List<Material>>(response.Content);
            StateHasChanged();
        }
    }

}
